<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" href="style.css" /> -->
</head>

<body ng-controller="myCtrl">
  <div class="container">

    <h3>ReactJS Dashboard 
      <span class="pull-right"><a title="reload dashboard" ng-if="!editMode" ng-click="refreshDashboard()" style="cursor:pointer;"> <i class="glyphicon glyphicon-refresh"></i> </a></span>
      <span class="pull-right"><a title="config layout" ng-if="!editMode" ng-click="toggleEditMode('edit')" style="cursor:pointer;"> <i class="glyphicon glyphicon-cog"></i> </a></span>
      <span class="pull-right"><a title="save config" ng-if="editMode" ng-click="toggleEditMode('save')" style="cursor:pointer;"> <i class="glyphicon glyphicon-floppy-disk"></i> </a></span>
      <span class="pull-right"><a title="cancel config" ng-if="editMode" ng-click="toggleEditMode('cancel')" style="cursor:pointer;"> <i class="glyphicon glyphicon-floppy-remove"></i> </a></span>
    </h3>

    <hr>

    <div id="example"></div>

    <br>

    <h3>Schema</h3>

    <hr>

    <table class="table table-striped table-bordered" ng-repeat="row in schema.widgets">
      <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="(key, value) in schema.widgets[$index][0]">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="widget in schema.widgets[$index]">
          <th scope="row">{{$index+1}}</th>
          <td ng-repeat="(key, value) in widget">
            <input ng-if="editMode" ng-model="widget[key]"></input>
            <p ng-if="!editMode">{{widget[key]}}</p>
          </td>
        </tr>
    </table>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>-->
    
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="../dist/ReactDashboard.js"></script>
  <script src="script.js"></script>
</body>

</html>
